body{
    background-image: url(https://images.pexels.com/photos/5909793/pexels-photo-5909793.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    color: black;
    text-align: center;
    margin-top: 13%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}